@import url('https://fonts.googleapis.com/css2?family=Carattere&family=Shadows+Into+Light&display=swap');


:root {
    --font-logo: 'Carattere', cursive;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    color: white;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)), url('https://images.unsplash.com/photo-1555396273-367ea4eb4db5?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;


}

header {
    /* border: 1px solid; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: gold;
    height: 10vh;
    padding: 0 2rem;


}

nav {
    display: flex;
}


#logo {
    font-size: clamp(1em, 3vw, 2rem);
    ;
    margin-right: 1rem;
    font-family: var(--font-logo);

}

ul {
    list-style: none;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
    cursor: pointer;


}

li button {
    background-color: inherit;
    color: white;
    border: none;
    font-size: 1.5rem;
    font-weight: 200;
    cursor: pointer;
}

li button:hover {
    color: gold;

}

#reserve {
    color: gold;
    font-weight: 800;

}

#reserve:hover {
    color: white;
    ;
}

#content {
    display: flex;
    width: 100%;
    height: 100%;
    min-height: 80vh;
    padding: 0 2rem;
    margin-bottom: 2rem;


}

#content-logo {
    color: gold;
    margin-bottom: 1.5rem;
    font-family: var(--font-logo);
    font-size: clamp(3em, 6vw, 5em);
    ;

}

#homeContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    /* border: 1px solid blue; */
}


.tagline {
    margin-bottom: 1rem;
    text-align: center;
    /* font-size: 1.5rem; */
}

.content-texts {
    text-align: center;
    font-size: clamp(0.5em, 2.5vw, 2em);
    width: 70ch;
}

#showMenu {
    margin-top: 3em;
    padding: 1em;
    border-radius: 20px;
    font-size: 1em;
    background-color: transparent;
    font-weight: 600;
    color: gold;
    cursor: pointer;
}


#showMenu:hover {
    color: white;
}

.hidden {
    display: none;
}

#menu-content {
    width: 100%;
    padding: 1em 0;
    margin-top: 2vh;
    min-height: 100vh;

}

#menu-h1 {
    font-style: italic;

    margin-bottom: 50px;
    text-align: center;
}

#menuItems {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, clamp(400px, 700px, 1000px));

    gap: 3em;

}

.box-item {
    color: black;
    /* border: 1px solid gold; */
    background-color: rgb(243, 208, 8);
    width: 100%;
    height: 300px;
    display: flex;
    gap: 1em;
    border-radius: 20px;
    transition: background-color 0.5s ease;
    transition: all 0.3s ease;

    
    /* padding: 0 2em; */

}

.box-item:hover {
    box-shadow: 3px 3px 8px white;
    transform: scale(1.02);

}
.box-item:hover {
    transform: translateY(-5px) scale(1.02);
  }


.box-text-items {
    /* border: 1px solid red; */
    padding: 1em 2em 0 1em;
    /* width: 40%; */
    position: relative;


}


.item-img {
    width: 47%;
    min-width: 45%;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 3px 3px 3px grey;
    transition: all 0.3s ease;

}

.item-img:hover{
    box-shadow: 0 0 3px black;
    transform: translateY(-8px) scale(1.1);

}


.item-header {
    /* border: 1px solid; */
    font-size: 2em;
  

}

.item-description {
    /* border: 1px solid; */
    margin-top: .5em;
    font-size: 1.2em;

}

.item-price {
    /* border: 1px solid; */
    align-self: flex-end;
    padding-top: 1rem;
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    bottom: 1em;
    right: 1em;
    color: grey;
}

.item-price::before {
    content: '$';
}

/* about */
#aboutContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */


}

#aboutTitle {
    font-size: clamp(2rem, 5vw, 3em);
    margin: 2rem 0 1.4rem 0;
}

#aboutParagraph {
    width: 60ch;
    text-align: justify;
    font-size: clamp(12px, 2.5vw, 2em);
    /* letter-spacing: 1px; */
    line-height: 1.5;
}

/* Reserve  */
#reserveContainer {
    /* border: 2px solid gold; */

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#reserveForm {
    /* border: 1px solid white; */
    width: 500px;

}

.form-group {
    display: flex;
    flex-direction: column;
    padding: 8px 0;
    /* border: 1px solid;  */
    font-size: 1.5rem;
    gap: 3px;

}

input,
textarea {
    padding: 4px;
    font-size: inherit;
    line-height: 30px;
    border: 0;
    outline: 0;
    background-color: transparent;
    border-bottom: 1px solid white;
    color: white;


}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}


input:hover {
    border-bottom: 1px solid gold;
}

input:user-valid {
    /* border-bottom: 1px solid green; */
}

input:user-invalid {
    border-bottom: 1px solid red;
}

label {}

textarea {
    height: 80px;
    overflow: hidden;
}


#submitBtn {
    margin-top: 10px;
    padding: 8px 10px;
    text-align: center;
    width: 100%;
    font-size: 1rem;
    height: 3rem;
    /* color: white; */
    background-color: gold;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}


#submitBtn:hover {
    /* color: #f5f5f5;. */
    background-color: goldenrod;
}

/* .form-group:nth-child(2){
    border: 2px solid blue;
} */

#order {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3em;
    /* display: flex; */
    margin: 2rem, ;
    width: 100%;
    color: gold;
}

#orderText {

    text-decoration: underline;
    text-underline-offset: 4px;
    margin-bottom: .5em;
    font-size: 1.8rem;
    /* color: aqua; */

}

#resDetails {
    /* border: 1px solid; */
    width: 100%;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.r-list {
    font-size: 1.2rem;
    font-weight: 600;

}

footer {
    height: auto;

    /* background-color: #333333; */
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0.5rem;
    /* border: 1px solid; */
}

.github svg {
    fill: white;
    width: 50px;
    border: 1px;
    height: 50px;
}

.github svg:hover {
    fill: gold;
}